<section class="uk-section" >
  <div class="uk-container">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-1-2">
        <div>
          {{#if user.image}}
          <img class="uk-border" style="width: 200px; height: 200px" src="{{user.image}}" alt="{{user.name}}">
          {{else}}
          <img src="https://static1.squarespace.com/static/57a3de3559cc68cdfbfe818f/57ce7c9f6b8f5b434f1e8d05/57ce7cb437c581699710321c/1473150134640/restaurant.png?format=1000w" alt="profile-image">
          {{/if}}

          <div class="uk-margin-medium-top">
            <p class="uk-text-lead">{{user.name}}</p>
          </div>

          <div class="uk-margin-medium-top">
            <p class="uk-text-lead">{{user.email}}</p>
          </div>

          <div>
            <a class="uk-button uk-button-secondary" href="/profile/{{user._id}}/edit">Edit Profile</a>
          </div>

        </div>
      </div>
      <div class="uk-width-expand">
        <div>
         
          <div class="uk-section-small">
            <div class="uk-grid-match uk-child-width-1-2 uk-grid-small" uk-grid>
              {{#each businesses as |business|}}
              {{> ownerBusinessCard business}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <a class="uk-button uk-button-default" href="/queue/">Show Queue</a>
</div>